.navbar {
  position: relative;
}

.nav-button {
  float: right;
  width: 44px;
  height: 37px;
  border: none;
  background-color: #000000;
  margin: 23px 0;
  padding: 0;
  cursor: pointer;

  &__line {
    @include flex-center;
    margin: 0 auto;
    position: relative;
    background-color: #ffffff;
    width: 17px;
    height: 2px;

    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 17px;
      height: 2px;
      left: 0;
      background-color: #ffffff;
    }
    &::before {
      top: -5px;
    }
    &::after {
      bottom: -5px;
    }
  }
  @media (min-width: 768px) {
    display: none;
  }
}

.nav-menu {
  &__item {
    font-size: 11px;
    line-height: 22px;
    letter-spacing: 1.1px;
    text-transform: uppercase;
    color: $nav-color;
    padding: 5.2px 0 2.5px 14px;

    &:hover {
      color: #57a4a4;
    }
  }
  @media (max-width: 768px) {
    display: none;
  }
  @media (min-width: 768px) {
    @include flex-center;
    position: static;
    width: 100%;
    flex-direction: row;
    background-color: inherit;

    &__item {
      padding: 41px 17px 43px;
    }
  }
  @media (min-width: 1200px) {
    display: flex;
    &__item {
      padding: 45px 34px 51px;
    }
  }
}

@media (max-width: 768px) {
  .nav-button.nav-button--active .nav-button__line {
    background-color: inherit;
    &::before {
      top: 50%;
      @include transform(rotate(-45deg));
      transition: transform 0.5s;
    }
    &::after {
      top: 50%;
      @include transform(rotate(45deg));
      transition: transform 0.5s;
    }
  }

  .nav-menu.nav-menu--active {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0;
    width: 182px;
    background-color: #f5f5f5;
    justify-content: flex-end;
  }

  .nav-menu.nav-menu--active .nav-menu__item {
    &:hover {
      background: #e5e5e5;
      cursor: pointer;
    }
  }
}
