.recent-posts__title {
  @include title-format-mobile;
  @media (min-width: 769px) {
    @include title-format-not-mobile;
  }
  color: #4e4e4e;
  margin: 0;
}

.recent-posts__items {
  display: flex;
  flex-direction: column;
  padding-bottom: 39.5px;
  @media (min-width: 769px) {
    padding-bottom: 60px;
  }
  @media (min-width: 1200px) {
    padding-bottom: 69px;
    max-height: 500px;
    flex-wrap: wrap;
  }
}

.post-items-wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 24px;
  @media (min-width: 769px) {
    flex-direction: row;
    padding-top: 32px;
  }
  &:last-child {
    @media (max-width: 768px) {
      display: none;
    }
  }
}

.post-items__img {
  padding-top: 28.5px;
  padding-right: 21px;
  &:first-child {
    padding-top: 0;
  }
}

.post-items__content {
  width: 404px;
}

.content__title {
  font-weight: bold;
  font-size: 14px;
  line-height: 30px;
  color: #4e4e4e;
  margin: 0;
  @media (min-width: 769px) {
    font-size: 16px;
  }
  @media (max-width: 768px) {
    padding-top: 11px;
  }
}

.content__content {
  font-size: 11px;
  line-height: 20px;
  color: #7c7c7c;
  @media (min-width: 769px) {
    font-size: 12px;
    padding-bottom: 13px;
  }
}

.content__text {
  font-size: 14px;
  line-height: 26px;
  color: #5c5c5c;
  @media (max-width: 768px) {
    display: none;
  }
}
