.Modal-window {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
}

.Modal {
  background-color: orangered;
  color: #fff;
  width: 50vw;
  font-size: 20px;
  font-weight: 600;
  border-radius: 8px;
  
  &--header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 25px;
      padding: 0 40px;
      background-color:red;
      border-radius: 8px 8px 0 0;
  }
  &--body{
      text-align: center;
      padding: 30px 20px;
  }
  &--buttons-Ok-Cancel{
      display: flex;
      justify-content: center;
      padding-bottom: 20px;
  }
}

.buttons-Ok-Cancel--button {
  color: #fff;
  background-color: rgb(230, 0, 0);
  width: 150px;
  font-size: 18px;
  font-weight: 700;
  padding: 20px 0;
  margin: 7.5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button {
  position: relative;
}

.closeButton {
  border: none;
  width: 30px;
  height: 30px;
  color: #fff;
  padding: 0;
  cursor: pointer;
  font-size: 25px;
  // &::before,
  //   &::after {
  //       content: "";
  //       position: absolute;
  //       right: 0;
  //       height: 2px;
  //       width: 30px;
  //       top: 60%;
  //       background-color: #FFFFFF;
  //   }
  //   &::before {
  //       transform: rotate(-45deg);
  //   }
  //     &::after {
  //       transform: rotate(45deg);
  //   }

}
