*,
::after,
::before {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}
.container {
  width: 1280px;
  margin: 0 auto;
  font-family: sans-serif;
}

.logo {
  font-size: 80px;
  line-height: 94px;
  text-decoration: none;
  color: #00bfff;
  padding-top: 61px;
}
.colortext {
  color: black;
}

.header__main {
  height: 72px;
  background-color: #35444f;
  display: flex;
  justify-content: center;
}

.header__menu {
  display: flex;
  justify-content: center;
  align-items: stretch;
  padding: 0 40px;
}

.header__menu__item {
  display: inline-block;
  vertical-align: middle;
  align-items: center;
  color: #ffffff;
  font-size: 24px;
  line-height: 28px;
  padding: 26px 39px;
  border-left: 1px solid #ffffff;
}

.header__menu__item:hover {
  background-color: #222f3a;
}

.menu__item {
  display: flex;
  justify-content: center;
  align-self: stretch;
  border-left: 1px solid white;
}

.main-container {
  display: flex;
  justify-content: space-between;
  margin: 50px 0 18px;
}

.aside-container {
  min-width: 344px;
  padding: 0;
  align-self: flex-start;
  background: rgba(0, 0, 0, 0.0001);
  border: 1px solid #000000;
  margin-right: 52px;
}

.aside__menu__item {
  display: flex;
  align-items: center;
  padding: 0 20px;
  height: 80px;
  font-size: 27px;
  line-height: 27px;
  color: #495863;
}

.aside__hover:hover {
  background: #dbdbdb;
  color: #35444f;
  padding-left: 50px;
}

.section__img {
  display: flex;
  place-content: center;
  padding: 75px 282px;
  border: 1px solid black;
}

.pic__img {
  transition: transform 2s;
}

.pic__img:hover {
  transform: scale(1.2, 1.2);
}

.text {
  margin: 36px 0;
}

.footer__container {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  background-color: rgba(99, 105, 110, 0.48);
  margin-bottom: 30px;
}

.footer__nav {
  font-size: 28px;
  line-height: 28px;
  height: 30px;
  padding-left: 20px;
  color: #0c1927;
}
.footer__menu {
  height: 100%;
  display: flex;
  justify-content: center;
}

.footer__menu__item {
  display: flex;
  align-items: center;
  padding: 0 15px;
  color: #0c1927;
  font-size: 28px;
  line-height: 28px;
}

.footer__hover:hover {
  color: #3181a6;
  border-bottom: 1px solid #3181a6;
}

.copyright {
  display: flex;
  align-items: center;
  padding-right: 40px;
  font-size: 24px;
  line-height: 24px;
  color: #010101;
}
