body {
  background-color: blueviolet;
}

ul {
  list-style: none;
  padding-left: 0;
}

.wrapper {
  width: 700px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
  font-size: 25px;
}

.tabs {
  display: flex;
}

.tabs-title {
  margin-top: 20px;
  padding: 20px;
  background-color: #23201d;
  color: #e3e2ee;
  cursor: pointer;
}

.tab-content {
  display: none;
}

.tab-content.is-active {
  display: block;
}
.tabs-title.is-active {
  background-color: #937341;
  color: #23201d;
}
