*,
::after,
::before {
  box-sizing: border-box;
}

body {
  background-color: mintcream;
}

.body-wrapper {
  margin: 0;
}

.image-to-show {
  width: 400px;
  height: 400px;
  display: none;
  margin: 10px auto;
}

.images-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.buttons {
  text-align: center;
  padding: 10px 0;
}

.button {
  width: 150px;
  padding: 5px 0;
  border: solid;
  border-radius: 5px;


}
