ul[class],
ol[class] {
    margin: 0;
    padding: 0;
    list-style: none;
}

.Main {
    background-color: rgb(212, 182, 211);
    margin-top: 100px;
    padding: 50px 100px;
}

.listItems {
    display: grid;
    grid-template-columns: repeat(auto-fit, 200px);
    grid-gap: 50px 70px;
    justify-content: center;
}

