*,
::after,
::before {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

.page__container {
  margin: 0 auto;
  background-image: url(../img/background.png);
  background-size: cover;
  background-position: no-repeat;
  background-attachment: fixed;
}

.main__container {
  width: 1366px;
  margin: 0 auto;
  font-family: "Ubuntu", Arial, sans-serif;
  color: #ffffff;
}

.header__container {
  height: 58px;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
}

.logo {
  position: absolute;
  padding-left: 79px;
  padding-top: 18px;
  font-weight: bold;
  font-size: 22px;
  line-height: 22px;
  /* identical to box height, or 100% */
  align-items: center;
}

.logo__hover:hover {
  color: #01813f;
  transition-duration: 0.5s;
}

.header__nav {
  display: flex;
  position: absolute;
  width: 115px;
  height: 24px;
  padding: 17px 940px;
}

.icon_date {
  padding-right: 27px;
}

.icon_mail {
  padding-right: 24px;
  padding-top: 1px;
}
.icon_navigation {
  padding-top: 0.37px;
  padding-right: 24px;
}

.path_hover:hover {
  fill: #01813f;
  transition-duration: 0.2s;
}

.autoriz_login::before {
  content: "";
  position: absolute;
  bottom: 4.5px;
  top: 20px;
  right: 222px;
  width: 1px;
  height: 19px;
  background-color: rgba(255, 255, 255, 0.9);
  opacity: 0.5;
}

.autorization {
  padding-left: 1111px;
  display: flex;
  align-items: center;
  vertical-align: middle;
  position: absolute;
  font-size: 14px;
  line-height: 14px;
  font-weight: normal;
  padding-top: 22px;
}

.autoriz_login {
  width: 108px;
}

.autoriz_sign {
  width: 88px;
}

.log_in:hover {
  color: #01813f;
  transition-duration: 0.1s;
}

.sign_up:hover {
  color: #01813f;
  transition-duration: 0.1s;
}

.box__sign_up {
  width: 444px;
  background: #ffffff;
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
  margin: 74px 461px;
  position: absolute;
}

.form__header {
  display: flex;
}

.green__decor {
  width: 18px;
  height: 18px;
  left: 0px;
  top: 29px;
  background-color: #3cb878;
}

.form_title {
  font-size: 20px;
  font-weight: 20px;
  align-items: center;
  text-align: center;
  color: #434343;
  padding-top: 31px;
  margin-left: 61px;
}

.form_title::before {
  content: "";
  position: absolute;
  top: 29px;
  left: 0px;
  height: 18px;
  width: 18px;
  background-color: #3cb878;
}

.login {
  font-size: 14px;
  font-height: 14px;
  align-items: center;
  color: #3cb878;
  padding-top: 33px;
  padding-left: 210px;
}

.form__container {
  width: 324px;
  margin: 0 auto;
  padding-top: 31px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  padding-bottom: 31px;
  margin-top: 15px;
  padding-left: 60px;
  padding-right: 60px;
}

.button__fb {
  display: flex;
  width: 160px;
  height: 48px;
  position: relative;
  background-color: #305db8;
  align-items: center;
  border: none;
  border-radius: 4px;
}

.button__fb:hover {
  background-color: #022263;
}

.fb__img {
  object-fit: contain;
  margin-right: 16.77px;
}

.button__text_fb {
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
  padding: 17px 22px 17px 37.77px;
}

.button__text_fb::before {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 49px;
  width: 1px;
  height: 28px;
  background-color: #0a162f;
  opacity: 0.1;
}

.button__google {
  display: flex;
  width: 160px;
  height: 48px;
  position: relative;
  background-color: #df4a32;
  align-items: center;
  border: none;
  border-radius: 4px;
}

.button__google:hover {
  background-color: #ab1f09;
}

.google__img {
  object-fit: contain;
  margin-left: 7px;
}

.button__text_google {
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
  padding: 17px 27px 17px 38px;
}

.button__text_google::before {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 49px;
  width: 1px;
  height: 28px;
  background-color: #0a162f;
  opacity: 0.1;
}

.or {
  font-size: 14px;
  line-height: 14px;
  display: flex;
  position: relative;
  justify-content: center;
  color: #848484;
}

.or::before {
  content: "";
  position: absolute;
  bottom: 5.5px;
  left: 60px;
  width: 152px;
  height: 1px;
  background-color: #f2f2f2;
}

.or::after {
  content: "";
  position: absolute;
  bottom: 5.5px;
  right: 60px;
  width: 152px;
  height: 1px;
  background-color: #f2f2f2;
}

.input-form {
  width: 324px;
  margin-left: 60px;
  justify-content: center;
}

.input_fild {
  width: 100%;
  height: 46px;
  border-radius: 4px;
  margin-top: 15px;
  border: 1px solid #f2f2f2;
  padding: 15px 0 15px 20px;
}

.input_fild:first-child {
  margin-top: 11px;
}

.input_fild:focus {
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
  outline: none;
}

.checkbox {
  display: none;
}

input[type="checkbox"] {
  display: none;
}

.form_label::before {
  content: "\2713";
  display: inline-block;
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  background-color: white;
  border: 2px solid #f2f2f2;
  border-radius: 2px;
  margin: 12px 4.4px 0 0;
  vertical-align: baseline;

  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: bold;
  color: #01813f;
}

input[type="checkbox"]:checked + .pseudocheckbox::before {
  content: "\2713";
}
.checkbox__text {
  font-size: 14px;
  line-height: 14px;
  color: #434343;
}
.checkbox__text_link {
  color: #3cb878;
}
.checkbox__text_link:hover {
  text-decoration: underline;
  color: #01813f;
}

.form-submit {
  width: 100%;
  font-size: 16px;
  line-height: 16px;
  padding: 15px 0;
  margin-top: 20px;
  margin-bottom: 38px;
  color: #ffffff;
  background-color: rgba(60, 184, 120, 0.8);
  border-radius: 4px;
  border: none;
}
.form-submit:hover {
  background-color: #01813f;
}
