*,
::after,
::before {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

.page__container {
  background-color: black;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 400%;
  margin: 0;
  bottom: 0;
  overflow: hidden;
  transform-origin: 50% 100%;
  transform: perspective(280px) rotateX(20deg);
}

.main__container {
  position: absolute;
  margin: 0 auto;
  padding: 7%;
  font-size: 60px;
  line-height: 100px;
  font-family: "Montserrat", Arial, sans-serif;
  color: gold;

  animation: text-moving linear 30s infinite;
}

.title {
  text-align: center;
  margin-bottom: 40px;
}

.text {
  text-align: left;
}

.text:last-child {
  margin-top: 60px;
  text-align: justify;
}

@keyframes text-moving {
  from {
    top: 95%;
  }

  to {
    top: 0;
  }
}
