.Header {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 150px);
    padding: 10px 20px 10px 150px;
    background-color: rgba(102, 235, 240, 0.9);
    position: fixed;
    top: 0px;

        &--text {
    font-size: 70px;
    color: rgb(238, 82, 142);
    font-family: Fira Sans;
    font-style: italic; 
    font-weight: 600;
    }
}

.logo {
    transform: rotate(45deg);
}

.cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    &__item {
        text-align: center;
        font-weight: 700;
        font-size: 20px;
        line-height: 20px;
        text-transform: uppercase;
        color: #b62aa3;
        margin: 0 20px;
        &:hover{
            color:rgb(131, 11, 95);
            border-bottom: 1px solid rgb(156, 20, 122);
        }
    }
    .is-active {
        font-weight: 900;
        // font-size: 20px;
    }
}
