*,
::after,
::before {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

.page__container {
  margin: 0 auto;
  font-family: sans-serif;
}

.main__container {
  width: 1170px;
  margin: 0 auto;
  justify-content: center;
}

.logo {
  width: 188px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.image {
  padding: 21.5px 27px;
  display: flex;
  place-content: center;
}

.logo__img {
  object-fit: contain;
  background: rgb(0, 0, 0, 0.0001);
  boredr: none;
}
.logo__name {
  font-size: 22px;
  font-weight: bold;
  line-height: 30px;
  color: #ffffff;
}

.header__main {
  display: flex;
  justify-content: space-between;
  aline-items: center;
  background: #313131;
}

.header__menu {
  display: flex;
  justify-content: center;
}

.menu__item {
  font-size: 15px;
  font-weight: 600;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  padding: 28px 17.5px 26px;
}

.menu__item:hover {
  color: #14b9d5;
}
.search {
  padding: 27px 25px 26px 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000000;
}

.search__img {
  object-fit: contain;
  border: none;
}

.news__block {
  background-image: url(../img/img-bg/header-background.png);
  background-size: cover;
  background-position: no-repeat;
  background-attachment: fixed;
}

.news__title {
  text-align: center;
  font-size: 27px;
  line-height: 37px;
  font-weight: bold;
  color: #ffffff;
  padding: 164px 0 44px 0;
  margin: 0 auto;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 74px;
}

.button__1 {
  display: inline-block;
  place-content: center;
  background: #89ca62;
  padding: 16px 19px 17px 19px;
  margin-right: 20px;
  border-radius: 4px;
}

.button__2 {
  display: inline-block;
  place-content: center;
  background: #14b9d5;
  padding: 16px 29px 17px 30px;
  margin-right: 20px;
  border-radius: 4px;
}
.button__text {
  font-size: 18px;
  font-weight: 600;
  line-height: 25px;
  color: #ffffff;
}

.posts__section {
  background: #f2f2f2;
}

.section__title {
  font-size: 27px;
  line-height: 37px;
  font-weight: bold;
  text-align: center;
  color: #18b4cf;
  text-transform: uppercase;
  padding: 49px 0 52px;
  margin: 0 auto;
}

.posts {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  height: 900px;
}

.posts__item {
  display: flex;
  flex-direction: column;
  width: 370px;
  align-items: center;
  margin: 0 15px 31px 15px;
}

.post__name {
  width: 370px;
  height: 61px;
  display: flex;
  align-items: center;
  background: #ffffff;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
}

.post__title {
  font-size: 18px;
  font-weight: bold;
  line-height; 25px;
  text-align: center;
  margin: 0 auto;
  color: #353A3D;
}
.parallax {
  background-image: url(../img/img-bg/parallax-bg.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment fixed;
}

.title__parallax {
  font-size: 32px;
  font-weight: bold;
  line-height: 44px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  padding-top: 106px;
  margin: 0;
}

.title__parallax::after {
content: "";
display: block;
width: 60px;
height: 3px;
margin: 87px auto 106px;
background-color: #18b4cf;
}

.list__clients {
  display: grid;
  justify-content: center;
  padding-bottom: 191px;
}

.logo__clients {
  display: grid;
  width: 881px;
  grid-template-columns:  1fr 1fr 1fr 1fr;
  place-items: center;
  grid-row-gap: 58px;
}

.pictures {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(271px, 1fr));
}

.pic__item {
  display: flex;
  justify-content: center;
  }

  .pic__item__img {
    width: 100%;
    border: none;
  }

  .news__block1 {
    display: grid;
    grid-template-columns: 856px 1fr;
    grid-column-gap: 35px;
  }

.post_1,
.post_8 {
  display: grid;
  grid-template-columns: 483px 1fr;
  background: #f9f7f7;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03)
}
.post__news__title {
  font-size: 18px;
  font-weight: bold;
  line-height: 23px;
  text-align: right;
  color: #353A3D;
  padding: 41px 24px 14.5px;
  margin: 0;
}

.post1__news__text {
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  text-align: right;
  color: #5B6469;
  padding: 0 24px 40.5px 0;
  margin: 0;
}

.post_2,
.post_7 {
  display: grid;
  grid-template-rows: 210px 1fr;
  background: #f9f7f7;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03)
}

.post2__news__title,
.post7__news__title {
  font-size: 18px;
  font-weight: bold;
  line-height: 25px;
  text-align: center;
  color: #353A3D;
  padding: 14px 0 11px;
}

.news__block2 {
  display: grid;
  grid-template-columns: repeat (autofit, minmax(554px, 1fr));
  grid-template-rows: minmax(418px, 1fr);
  grid-auto-rows: auto;
  grid-gap: 43px 60px;
  margin: 42px 0 44px;
  grid-template-areas:
  "post3 post4"
  "post5 post6";
}

.post_3,
.post_4,
.post_5,
.post_6 {
  display: grid;
  background: #f9f7f7;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
}

.post__news__text {
  font-size: 14px;
  font-weight: bold;
  line-height: 21px;
  text-align: right;
  color: #353A3D;
  margin: 0;
  padding: 14px 27px 15px;
}

.news__block3 {
  display: grid;
  grid-template-columns: 277px 1fr;
  grid-column-gap: 35px;
  margin-bottom: 71px;
}

#slide-toggle {
  margin: 15px auto;
  padding: 15px;
  width: 200px;
  color: rgb(255,255,255);
  background-color: rgba(102, 204, 255);
  border-radius: 5px;
  display: block;
  text-align: center;
  font-weight: 700;

  }
#move-up {
  position: fixed;
  bottom: 0px;
  right: 0px;
  padding: 0px;
}
#move-up a{
  padding: 10px 20px;
  background-color: rgba(102, 204, 255);
  color: rgb(255,255,255);
  border-radius:  5px;
  display: none;
  text-align: center;
  font-weight: 700;
  }

.footer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  background: #000000;
  margin: 0 auto;
}

.footer__text {
  font-size: 13px;
  line-height: 13px;
  text-align: left;
  color: #ffffff;
  padding: 29px 0 30px 367px;
}

.footer__logo {
  display: grid;
  grid-template-columns: 1fr 64px;
  grid-column-gap: 3px;
  justify-items: right;
  padding: 29px 359px 27px 0;
}
