*,
*::after,
*::before {
    box-sizing: border-box;
}
.page-body {
    font-family: Montserrat;
    font-style: normal;
    width: 1280px;
    height: 1626px;
    margin-left: auto;
    margin-right: auto;
}
.container {
    margin-left: auto:
    margin-right: auto;
}
a {
    text-decoration: none;
}
.main-menu {
    display: inline-block;
    vertical-align: middle;
    padding-left: 0;
    margin-top: 25.5px;
    margin-bottom: 31.5;
    margin-left: calc((100% - 620px) / 2);
    margin-right: calc((100% - 620px) / 2);
}
.main-menu-item {
    display: inline-block;
    vertical-align: middle;
}
.main-menu-link {
    font-size: 18px;
    font-weight: bold;
    color: red;
    line-height: 100%;
    padding: 0px 30px;
    text-transform: uppercase;
}
.img1{
    width: 1280px;
    height: 789px;
    margin-top: 10px;
    margin-left: 0px;
    margin-right: 0px;
}
.h2 {
    text-transform: uppercase;
    width: 680 px;
    height: 29px;
    margin-top: 30px;
    margin-left: calc((100% - 680px) / 2);
    margin-right: calc((100% - 680px) / 2);
}
.main-content {
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    /* or 162% */
    width: 1145px;
    margin-top: 50px;
    margin-left: calc((100% - 1145px) / 2);
    margin-right: calc((100% - 1145px) / 2);
    text-align: center;
}
.button {
    background-color: red;
    border: none;
    border-radius: 4px;
    font-family: Montserrat;
    font-size: 12px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1.8px;
    width: 191px;
    height: 51px;
    margin-top: 80px;
}
.page-footer{
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: black;
    display: flex;
    align-items: center;
    letter-spacing: 2.4px;
    margin-left: 720px;
    margin-top: 110px;
}
