<header class="container">
  <nav class="navbar">
    <button class="nav-button">
      <span class="nav-button__line"></span>
    </button>
    <ul class="nav-menu">
      <li class="nav-menu__item"><a href="#void">Home</a></li>
      <li class="nav-menu__item"><a href="#void">About Us</a></li>
      <li class="nav-menu__item"><a href="#void">Our Journal</a></li>
      <li class="nav-menu__item"><a href="#void">Projects</a></li>
      <li class="nav-menu__item"><a href="#void">News</a></li>
      <li class="nav-menu__item"><a href="#void">Features</a></li>
      <li class="nav-menu__item"><a href="#void">Contact</a></li>
    </ul>
  </nav>
</header>
