<div class="intro-img container">
  <picture>
    <source
      srcset="./dist/img/intro-img_big.webp"
      type="image/webp"
      media="(min-width:1200px)"
    />
    <source
      srcset="./dist/img/intro-img_middle.webp"
      type="image/webp"
      media="(min-width:769px)"
    />
    <source
      srcset="./dist/img/intro-img_small.webp"
      type="image/webp"
      media="(max-width:768px)"
    />
    <img
      src="./dist/img/intro-img_small.jpg"
      alt="Railway"
      width="100%"
      srcset="
        320w,
        ./dist/img/intro-img_middle.jpg  768w,
        ./dist/img/intro-img_big.jpg    1200w
      "
    />
  </picture>
</div>
