.Card-wrapper {
    display: flex;
    padding: 0;
    align-items: flex-start;
}


.card {
    display: flex;
    flex-direction: column;
    width: 240px;
    background-color: #ece1e1;
    font-size: 16px;
    font-weight: 600;
    font-family: Cantarell;
    padding-bottom: 10px;
    border:rgb(168, 162, 168);
    border-radius: 10px;
    
    &--favorites{
        display: flex;
        align-items: center;
        padding: 10px 0;
    } 
}

.Card--title {
    font-size: 22px;
    font-weight: 700;
    font-style: italic;
    color:rgb(190, 14, 146);
}

.Card--price {
    font-size: 20px;
    font-family: Droid Sans;
    color:rgb(102, 36, 86);
    font-weight: 800;
}

.Card--addToCartButton {
    // text-transform: uppercase;
    color: rgb(228, 171, 208);
    font-weight: 700;
    border: none;
    padding: 7px 30px;
    border-radius: 15px;
    cursor: pointer;
}

.deleteFromCartButton {
    display: none;
    font-size: x-large;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}


.favorites--text{
    color:darkmagenta;
    font-size: 18px;
    font-weight: 700;
    padding: 20px 5px;
}

.favorites--icon{
    cursor: pointer;
    
}
