.App {
  display: flex;
  margin: 0 auto;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: plum;
}

.mainButtons {
  display: flex;
  justify-content: center;
  width: 100%;
}

.buttons {
  margin: 40px;
  width: 300px;
  padding: 15px 0;
  font-size: 18px;
  font-weight: 600;
  color: rgb(71, 7, 83);
  border: 2px solid rgb(87, 98, 109);
  border-radius: 9px;
  cursor: pointer;
}



