.Header {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 150px);
    padding: 10px 20px 10px 150px;
    background-color: rgba(102, 235, 240, 0.9);
    position: fixed;
    top: 0px;

        &--text {
    font-size: 70px;
    color: rgb(238, 82, 142);
    font-family: Fira Sans;
    font-style: italic; 
    font-weight: 600;
    }
}

.logo {
    transform: rotate(45deg);
}

.cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
