.Modal-window {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  .Modal {
    background-color: rgb(58, 146, 187);
    color: #fff;
    width: 37vw;
    font-size: 20px;
    font-weight: 600;
    border-radius: 8px;
    
    &--header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 25px;
        padding: 0 20px;
        background-color: rgb(40, 124, 192);
        border-radius: 8px 8px 0 0;
    }
    &--body{
        text-align: center;
        padding: 30px 20px;
    }
    &--buttons-Confirm-Cancel{
        display: flex;
        justify-content: center;       
        
    }
  }
  
  .buttons-Confirm-Cancel {
    color:  rgb(40, 124, 192);
    font-size: 18px;
    font-weight: 700;
    padding: 10px 50px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin: 0 10px;
  }
  
  .button {
    position: relative;
  }
  
  .closeButton {
    border: none;
    width: 30px;
    height: 30px;
    color: #fff;
    background-color: rgb(40, 124, 192);
    padding: 0;
    cursor: pointer;
    font-size: 25px;

    &:hover {
        opacity: 1;
    }
        &::before,
      &::after {
          content: "";
          position: absolute;
          height: 2px;
          width: 30px;
          right: 0;
          top: 50%;
          background-color: #FFFFFF;
      }
      &::before {
          transform: rotate(-45deg);
      }
        &::after {
          transform: rotate(45deg);
      }
  
  }
  