*,
::after,
::before {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

.page__container {
  margin: 0 auto;
  font-family: sans-serif;
  background-image: url(..//img/background\ 1.png);
  background-size: cover;
  background-position: no-repeat;
  background-attachment: fixed;
  font-family: sans-serif;
  color: #ffffff;
}

.main__container {
  width: 1023px;
  margin: 0 auto;
}

.header__container {
  display: flex;
  justify-content: space-between;
  padding: 46px 0 17px 0;
}
.logo__link {
  display: flex;
  align-items: center;
  width: 180px;
}

.img {
  position: relative;
  padding: 0 8px 4px 0;
}

.logo__img {
  object-fit: contain;
  border: none;
}

.logo__title {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  weight: 700;
  font-size: 29px;
  line-height: 29px;
  padding-bottom: 4px;
}

.logo__title_second_part {
  font-size: 18px;
  line-height: 18px;
}

.logo__link:hover .logo_hover__img {
  display: block;
}

.logo_hover__img {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}

.logo__link:hover .logo__title {
  color: #f26522;
}
.contacts {
  display: grid;
  width: 219px;
  align-items: flex-end;
  text-align: right;
  font-size: 18px;
  line-height: 18px;
  }

.contacts__hover:hover {
  color: #f26522;
}

.tours__container {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-template-rows: (2, 260px);
  grid-auto-rows: auto;
  grid-gap: 37px 58px;
  grid-template-areas;
  "tour tour tour"
  "tour tour tour";
}

.img-container {
  position: relative;
  overflow: hidden;
  height: 220px;
}

.tour__img {
  object-fit: cover;
}

.tour__name {
font-size: 18px;
line-height: 18px;
text-align: center;
color: #ffffff;
margin: 0 auto;
padding: 20px 0 2px;
}

.price__box {
  position: absolute;
  bottom: -58.5px;
  left: 0;
  color: #ffffff;
  background-color: #f26522;
    width: 300px;
  font-size: 20px;
  line-height: 20px;
  transition: transfrom 0.5s;
}

.price__box__from {
  display: inline-block;
  font-size: 10px;
  line-height: 10px;
padding: 7px 0 8px 16px;
}

.price__box__text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 37px 12px 16px;
}

.price__box__details {
  font-size: 14px;
  line-height: 14px;
  position: relative;
}

.price__box__details::after {
  content: "";
  position: absolute;
  right: -16px;
  bottom: 4px;
  width: 7.1px;
  height: 7.1px;
  border-top: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
  transform: rotate(45deg);
}

  .tour__block:hover .price__box {
    display: block;
    transform: translateY(-58.5px);
  }

  .tour__block:hover .tour__name {
    color: #f26522;
  }
.copyright {
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  padding: 49px 0 15px 0;
  }
